*.Compilation/
Python site packages.zip
NFV Build Environment.zip
.idea/workspace.xml
.idea/tasks.xml
*.cache
RanorexReport*
TestSuite_*

Documentation/EMC NFV Installation Automation - User Guide.pdf

